@import "bootstrap-sass/lib/bootstrap";

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

textarea {
    width: 90%
}

ul.nav li:hover{
    cursor: pointer;
}

footer {
    padding: 20px;

    a{
        line-height: 32px;
        height: 22px;
        width: 22px;
        display: inline-block;
        cursor: default;
        
    }
    a:hover{
        text-decoration: none;
    }
    i{
        color: #000;
        cursor: pointer;
    }
}


[class^="icon-"],
[class*=" icon-"] {
  background-image: url("../images/glyphicons-halflings.png");
}