{
  "option_settings": [
    {
      "option_name": "NODE_ENV", 
      "value": "production"
    },
    {
      "option_name": "EVERNOTE_CONSUME_KEY", 
      "value": "PLACEHOLDER"
    },
    {
      "option_name": "EVERNOTE_SECRET_KEY", 
      "value": "PLACEHOLDER"
    },
    {
      "option_name": "TUMBLR_SECRET_KEY", 
      "value": "PLACEHOLDER"
    },
    {
      "option_name": "TUMBLR_CONSUME_KEY", 
      "value": "PLACEHOLDER"
    },
    {
      "option_name": "COOKIE_SECRET", 
      "value": "PLACEHOLDER"
    },
    {
      "option_name": "SESSION_SECRET", 
      "value": "PLACEHOLDER"
    }
  ]
}