
<div class="navbar">
	<div class="navbar-inner">
		<a class="brand">JDivock.com</a>
		<ul class="nav">
			<li><a href="view.href">Home</a><li>
			<li><a href="view.href">Blag</a><li>
			<li><a href="view.href">MultiPost</a><li>
		</ul>
	</div>
</div>

<div class="container">


</div>

<footer class="footer">

	<ul class="inline">
		<li><a href="https://twitter.com/jdivock" target="_blank"><i class="smicon-twitter"></i></a></li>
		<li><a href="https://github.com/jdivock" target="_blank"><i class="smicon-github"></i></a></li>
		<li><a href="http://www.flickr.com/photos/8978912@N07/" target="_blank"><i class="smicon-flickr"></i></a></li>
		<li><a href="http://yourestilloversharingjay.tumblr.com/" target="_blank"><i class="smicon-tumblr"></i></a></li>
		<li><a href="http://www.linkedin.com/profile/view?id=12391583" target="_blank"><i class="smicon-linkedin"></i></a></li>
		<li><a href="https://plus.google.com/104434683311075218429" target="_blank"><i class="smicon-google"></i></a></li>
		<li><a href="http://instagram.com/jdivock" target="_blank"><i class="smicon-instagram"></i></a></li>
	</ul>

Built with node and angular and probably a little (read: a lot) broken at the moment.
</footer>

