
<div class="row">
	<form class="form-horizontal">
		<legend>Multipost</legend>
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">Title</label>
				<input class="form-control" type='text' ng-model="postSession.title" required></input>
			</div>
			<div class="form-group">
				<label class="control-label">Message</label>
				<textarea class="form-control" ng-model="postSession.post" required rows=10></textarea>
			</div>
		</div>
		<div class="col-md-5 col-md-offset-1">
			<div class="form-group">
				<a class='btn btn-default' href="/multipost/tumblr_login" ng-hide="postSession.tumblr_session">Authenticate with Tumblr</a>	
				<div ng-show="postSession.tumblr_session">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="postSession.tumblr_active"> </input>
							Tumblr
						</label>
					</div>
					<select class="form-control" ng-model="postSession.tumblr" ng-options="obj.name as obj.title for obj in tumblrs"></select>
				</div>
				
			</div>
			<div class="form-group">
				
				<p>
					<a class="btn btn-default" href="/multipost/evernote_login" ng-hide="postSession.evernote_session">Authenticate with Evernote</a>
				</p>
				<div ng-show="postSession.evernote_session">
					<label class="checkbox" >
						<input type="checkbox" ng-model="postSession.evernote_active" ></input>
						Evernote
					</label>
					<select class="form-control" ng-model="postSession.guid" ng-options="obj.guid as obj.name for obj in notebooks"></select>
				</div>

			</div>
		</div>
	</form>
</div>
<div class="row">
	<div class="col-md-12">
		<button type="submit" class="btn btn-primary" ng-click="multipostSave()">Submit</button>
		<button type="button" class="btn">Cancel</button>
	</div>
</div>