<!-- <div id="carousel-flickr" class="carousel slide">


  <div class="carousel-inner">
    <div class="item" ng-repeat="item in pics.photos.photo" ng-class="{active: $first}">
      <img ng-src="http://farm{{item.farm}}.staticflickr.com/{{item.server}}/{{item.id}}_{{item.secret}}_b.jpg"/>
      <div class="carousel-caption">
        {{item.title}}
      </div>
    </div>
  </div>

  <a class="left carousel-control" href="#carousel-flickr" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#carousel-flickr" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div> -->

<carousel interval="myInterval">
  <slide ng-repeat="item in pics.photos.photo" active="item.active">
    <img ng-src="http://farm{{item.farm}}.staticflickr.com/{{item.server}}/{{item.id}}_{{item.secret}}_b.jpg" style="margin:auto;">
    <div class="carousel-caption">
      {{item.title}}
      <!-- <h3>{{item.active}}</h3> -->
    </div>
  </slide>
</carousel>
